  <!DOCTYPE html>
<html>
  <head>
        <!-- comment like this - add - {{title}} -->
    <title>TwitsOff! {{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <h1>TwitsOff!!</h1>

    {% block content %}
    <form action="/user" method="post">
      <input type="text" name="user_name" placeholder="User to add">
      <input type="submit" value="Add User">
    </form>
    <!-- <p>Content for Twitsoff will go here...</p> -->
    {% endblock %}
      <!-- <p> Content goes here... </p>
      <u1>
        {% for user in users %}
        <li> {{ user.name}} </li>
        {% endfor %} -->
      <!-- </u1> -->
  </body>
</html>